:root{
  --navyblue: #2E2F42;
  --white:#fff;
  --iris: #4D5AE5;
  --slate: #434455;
  --cloud: #f4f4fd;
  --ocean: #404BBF;
  --green:#31D0AA;
  --lightslate: #8E8F99;
  --cornflower: #E7E9FC;
  --navybluemodal:#2E2F42;
  --grey: #2E2F42;
  --dairy: #FCFCFC;
}

body{
  
  color:var(--slate);
  font-family: 'Roboto', sans-serif;
  background-color: var(--white)
}

.link{
  text-decoration: none;
}

.list{
  list-style-type: none;
}

/*Header*/

.header-logo{

  font-family: Raleway, sans-serif;
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.3125rem; 
  letter-spacing: 0.03375rem;
  text-transform: uppercase;
}

.web{
  color: var(--iris);
}


.header-menu{
 
gap: 2.5rem;

}

.header-menu-link{
  color: var(--navyblue);
font-size: 1rem;
font-weight: 500;
line-height: 1.5rem; 
letter-spacing: 0.02rem;
}

.header-menu-link:hover,
.header-menu-link:focus{
  color:var(--iris)
}

.header-contact-info{
  color: var(--slate);
  font-style: normal;

font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
letter-spacing: 0.02rem;

}

.header-contact-info:hover,
.header-contact-info:focus{
  color:var(--ocean)
}

.address{

  gap: 2.5rem;
}

/*Introduction*/

.introduction{
  
  background-color: var(--navyblue);
  color: var(--white);
  



}

.main-header{
font-size: 56px;
font-weight: 700;
line-height: 107.142857%; /* 60/56 */
letter-spacing: 0.07rem;

text-align: center;

}

.introduction-button{
  
gap: 10px;

background-color: var(--iris);

font-family: inherit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.64px;
color: var(--white);
width: 10rem;
cursor:pointer;
}

.introduction-button:hover,
.introduction-button:focus{
  background-color: var(--ocean);
}

/*Principles*/



.third-header{
  color: var(--navyblue);
font-size: 1.25rem;
font-weight: 500;
line-height: 1.5rem; /* 120% */
letter-spacing: 0.025rem;
}

.text{
font-size: 1rem;
line-height: 1.5rem; /* 150% */
letter-spacing: 0.02rem;
}

.second-heading{
  color: var(--navyblue, #2E2F42);
text-align: center;
font-size: 2.25rem;
font-weight: 700;
line-height: 2.5rem;
letter-spacing: 0.045rem;
text-transform: capitalize;
}

.team{
  background-color: var(--cloud);
}

/*Portfolio buttons*/

.portfolio-navigation-btn{
  font-family: inherit;
  font-style: normal;
  
background: var(--cloud, #F4F4FD);
color: var(--iris);
text-align: center;
font-style: normal;
font-size: 1rem;
font-weight: 500;
line-height: 1.5rem; 
letter-spacing: 0.04rem;
cursor:pointer;
}

.portfolio-navigation-btn:hover,
.portfolio-navigation-btn:focus{
  background: var(--ocean);
  color: var(--white)
}

/*Footer*/

.footer{
  background-color: var(--navyblue);
  height: 19.5rem;
}

.footer-logo{
  color: var(--cloud);
  text-transform:uppercase;
font-family: Raleway;
font-size: 1.125rem;
font-weight: 800;
line-height: 1.3125rem; /* 116.667% */
letter-spacing: 0.03375rem;

}

.footer-text{
 
color: var(--cloud, #F4F4FD);
font-size: 1rem;
line-height: 1.5rem;
letter-spacing: 0.02rem;
}